@use '../../../../../styles/colors.module.scss' as *;

.container {
  position: relative;
  width: 10.3125rem;
  height: 10.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .foreground {
    position: absolute;
    // Posicionar a imagem no centro
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10.3125rem;
    height: 10.3125rem;
    // object-fit: cover;
    // background-color: $BlueishDefault;
    // border-radius: 50%;
    // z-index: 1;
  }
}
