@use '../../styles/colors.module.scss' as *;
@use '../../styles/variables.module.scss' as *;
@use '../../styles/components.module.scss' as *;

.container {
  width: 100%;
  .content {
    max-width: $maxWidth;
    display: flex;
    column-gap: 4rem;
    .description {
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: center;
      //   align-items: space-between;
      width: 100%;

      .text {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        row-gap: 1rem;
        p {
          @include BodyTextDefault;
          color: $grey;
          font-weight: 600;
        }
        h2 {
          @include Heading3;
        }
      }
    }
    .content {
      .image {
        img {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
