@use '../../../presentation/styles/colors.module.scss' as *;

.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: 'Inter';
  .skill {
    strong {
      font-size: 1.25rem;
      color: $black;
      font-weight: 600;
    }

    font-size: 1.125rem;
  }
}

@media (max-width: 31.25rem) {
  .skills {
    .skill {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
