@use '../../styles/colors.module.scss' as *;
@use '../../styles/components.module.scss' as *;
@use '../../styles/variables.module.scss' as *;

.container {
  background-color: $offGrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .content {
    width: 100%;
    max-width: $maxWidth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    gap: 2rem; // 32px

    h2 {
      @include Heading2;
    }
    .cardsWrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 6rem;
      .forms_1,
      .forms_2,
      .forms_3 {
        position: absolute;
        z-index: 0;
      }
      .forms_1 {
        right: -2.8rem;
        top: 5.5rem;
      }
      .forms_2 {
        left: -4rem;
        top: 19rem;
      }
      .forms_3 {
        right: -4.4rem;
        top: 30rem;
      }
    }
  }
}

.wrapper {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 1.5rem;
  background-color: $white;
  border-radius: 0.5rem; // 8px
  border: 0.0625rem solid $black;
  box-shadow: 0.125rem 0.125rem 0 rgba(0, 0, 0, 1);

  .content {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem; // 20px
    line-height: 1.75rem; // 28px
    gap: 0.625rem;
    .title {
      font-weight: 600;
    }
    .description {
    }
  }
  &:hover {
    cursor: pointer;
  }
}
