@use '../../../../../styles/colors.module.scss' as *;
@use '../../../../../styles/components.module.scss' as *;

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 3.25rem;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 13.25rem;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3.375rem;
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 0.875rem;
      h4 {
        @include Heading5;
        text-align: start;
        font-size: 1.375rem;
        font-weight: 600;
      }
      p {
        @include BodyText2;
        text-align: start;
      }
    }
  }
}

@media (max-width: 62.5rem) {
  .container {
    // background: rgba(0, 0, 255, 0.178);
    // display: flex;
    // width: 100%;
    // justify-content: center;
    // align-items: flex-start;
    gap: 4.5rem;
    flex-direction: column;

    .item {
      // display: flex;
      // flex-direction: column;
      // justify-content: flex-start;
      // align-items: flex-start;
      gap: 2.5rem;
      width: 100%;

      .icon {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // height: 3.375rem;
      }

      .text {
        // display: flex;
        // flex-direction: column;
        gap: 1.5rem;
        h4 {
          // @include Heading5;
          text-align: start;
          font-size: 1.75rem;
        }
        p {
          @include BodyText2;
          text-align: start;
          font-size: 1.5rem;
        }
      }
    }
  }
}
