@use './components.module.scss' as comp;
@use './colors.module.scss' as *;
@use './variables.module.scss' as *;

body {
  margin: 0;
  padding: 0;
  background-color: $offWhite;
  text-rendering: optimizeLegibility;
  width: 100vw !important;
  overflow-x: hidden; // impede scroll horizontal
}

.root {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  min-height: 100vh;
  // overflow-x: hidden; // opcional, reforça o bloqueio
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  // overflow: auto; /* ou scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge antigo */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Edge */
}

section {
  padding: 5.5rem 6.25rem 5.5rem 6.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: $tabletBrekpoint) {
  html {
    font-size: 0.75rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
