body {
  margin: 0;
  padding: 0;
  background-color: #f9f6f2;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('/fonts/Vollkorn-Regular.ttf') format('truetype');
  // font-weight: 400;
  line-height: 100%;
  font-style: normal;
}

p {
  font-family: Vollkorn;
  color: #000;
  font-size: 54px;
}
