@use './components.module.scss' as comp;
@use './colors.module.scss' as *;

body {
  margin: 0;
  padding: 0;
  background-color: #f9f6f2;
  text-rendering: optimizeLegibility;
}

.root {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
