@use './components.scss' as comp;
@use './colors.scss' as *;

body {
  margin: 0;
  padding: 0;
  background-color: #f9f6f2;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  @include comp.Heading1;
}
