@use '../../../../../styles/colors.module.scss' as *;
@use '../../../../../styles/components.module.scss' as *;

.wrapper {
  min-width: 55rem;
  .content {
    height: 100%;
    position: relative;
    aspect-ratio: 3 / 2.2;
    .forms_1 {
      position: absolute;
      z-index: 0;
      left: -13%;
      top: 5%;
      width: 40%;
      aspect-ratio: 344 / 260;
    }

    .shoppingCard {
      position: absolute;
      z-index: 2;
      width: 90%;

      left: 0;
      img {
        width: 100%;
        height: auto;
      }
    }

    .biography {
      position: absolute;
      width: 30%;
      right: 0rem;
      bottom: 0%;
      z-index: 2;

      img {
        width: 100%;
        height: auto;
      }
    }

    .forms_2 {
      position: absolute;
      z-index: 2;
      right: -8%;
      top: 15%;
      width: 30%;
      aspect-ratio: 1 / 1;
    }

    .forms_3 {
      position: absolute;
      z-index: 1;
      bottom: 17%;
      left: -5%;
      width: 20%;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .circle {
        width: 45%;
        aspect-ratio: 73 / 73;
      }
    }
  }
}
