@use '../../../../styles/colors.module.scss' as *;
@use '../../../../styles/components.module.scss' as *;

.wrapper {
  position: relative;
  width: 100%;

  // height: auto;
  // background-color: $BlueishDark;
  height: 100%;
  min-height: 24rem;
  // max-width: 31rem;
  .content {
    width: 100%;
    height: 100%;
    // max-width: 31rem;
    aspect-ratio: 530 / 420;
    position: relative;

    .forms_1 {
      position: absolute;
      z-index: 0;
      left: 10%;
      top: 16%;
      width: 45%;
      height: auto;
      // max-width: 204px;
      // max-height: 204px;
    }

    .bookCard {
      z-index: 1;
      position: absolute;
      padding: 2.5% 0 0 0;
      @include Card;
      left: 1rem;
      top: 0;
      width: 92%;
      // max-width: 28rem;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .suggestionsCard {
      position: absolute;
      padding: 2.5%;
      @include Card;
      right: 0%;
      bottom: 6%;
      z-index: 2;
      width: 45%;
      // max-width: 12.5rem;
      img,
      svg {
        width: 100%;
        height: auto;
        // max-height: 17rem;
        display: block;
      }
    }

    .forms_2 {
      position: absolute;
      z-index: 1;
      left: 30%;
      bottom: 0%;
      width: 40%;
      height: auto;
      max-width: 10rem;
      max-height: 10rem;
    }

    .audioRecorderCard {
      position: absolute;
      padding: 2.5% 2.5% 1.5% 2.5%;
      @include Card;
      left: 0;
      bottom: 0;
      z-index: 2;
      width: 57%;
      // min-width: 180px;
      // max-width: 270px;
      svg {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}

// Responsividade extra para telas pequenas
@media (max-width: 600px) {
}
